body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    font-size: x-large;
}


.objet{
    background-color: rgb(147, 147, 148);
    display: block;
    width: 150px;
    height: 200px;
    font-size: x-large;
    color: red;
   border-radius: 10px;
   margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.objet a {
    font-size: medium;
}
.objet img {
    width: 150px;
    height: 150px;
    border-radius:10px;
}
#haut{
    display: flex;
    flex-direction: row;
    background: rgba(211, 211, 211, 0.76);
}


#bas{
    display: flex;
    flex-direction: row;
    background: rgba(211, 211, 211, 0.76);
   
        
}


#chaussure{
    display: flex;
    flex-direction: row;
    background: rgba(211, 211, 211, 0.76);
}



section{
    margin: 20px;
}
img {
    width: 50px;
    height: 50px;
}



footer{
    background-color: black;
    height: 70px;
    color: white;
    margin: 0px;
}
footer div {
    margin-left: 20px;
}


nav{
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(216, 214, 192);
    box-shadow: 4px 4px 8px black;
}

ul{
    margin: 10px;
   font-size: 20px;
    display: flex;
    flex-direction: row;
}

li{
    margin:20px;
    list-style: none;
}

li a {
    text-decoration: none;
    color:black;
}


h1{
    font-size: 80px;
}



header span {
    display: flex;
    flex-direction: row;
    font-size: 90px; 
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    font-family: cursive, serif;
    padding-bottom: 10px;

}

header span img {
    width: 120px;
    height: 120px;
}


.destoc{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    background-color: red;
    font-size: 80px;
    justify-content: center;
    color: white;
    font-weight: bold;
    align-items: center;
    height: 200px;
}

.destoc div{
    color: black;
    background-color: white;
    text-align: center;
    width: 250px;
    margin: 10px;
}